.image18Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.creatingStreamlinedSafeguard,
.readmore {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
}
.readmore {
  display: inline-block;
  min-width: 100px;
}
.arrowsDirectionsright {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
}
.content,
.div,
.readmoreParent {
  display: flex;
  align-items: center;
}
.readmoreParent {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-57xl);
  gap: var(--gap-5xs);
  text-align: left;
  color: var(--brand-primary);
}
.content,
.div {
  flex-direction: column;
  justify-content: flex-start;
}
.content {
  width: 317px;
  box-shadow: var(--shadow-8);
  border-radius: var(--br-5xs);
  background-color: var(--neutral-silver);
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  z-index: 1;
  margin-top: -96px;
}
.div {
  align-self: stretch;
  width: 368px;
  flex-shrink: 0;
  max-width: 100%;
  text-align: center;
  font-size: var(--heading-headline-4-size);
  color: var(--neutral-grey);
  font-family: var(--body-regular-body-3);
}
@media screen and (max-width: 450px) {
  .creatingStreamlinedSafeguard,
  .readmore {
    font-size: var(--body-medium-body-2-size);
    line-height: 22px;
  }
  .readmoreParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
